body {
    background-color: #f5f5f5;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}

section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #333;
    padding: 10px 20px;
}

.user-question {
    align-self: flex-start;
    background-color: #dfe4ea;
    font-weight: bold;
}

.chatbot-answer {
    align-self: flex-end;
    background-color: #fff;
}

p {
    margin: 0;
    max-width: 70%;
    word-wrap: break-word;
    overflow: hidden;
}

textarea {
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
    height: 50px;
    margin: 0;
    padding: 10px 20px;
    resize: none;
    width: 100%;
}

button {
    background-color: #2c3e50;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 20px;
}
