:root {
    --color-dark-mustard: #f1c27b;
    --color-light-mustard: #ffd89c;
    --color-light-green: #a2cdb0;
    --color-dark-green: #85a389;
    --color-dark-brown: #3c290c;
    --color-beige: #fffadd;
}

body {
    background-color: var(--color-beige);
    color: var(--color-dark-brown);
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    padding: 0 0 200px 0;
}

header {
    border-bottom: 4px solid var(--color-light-green);
    background-color: var(--color-dark-green);
    color: var(--color-beige);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        gap: 20px;
    }
}

header a {
    display: block;
    text-decoration: none;
    color: inherit;
}

header h1 {
    margin: 0;
    line-height: 1;
    text-shadow: 0px 1px 1px var(--color-dark-brown);
}

header h2 {
    margin: 10px 0 0 0;
    font-weight: normal;
    font-style: italic;
    color: var(--color-light-green);
    text-shadow: 0px 1px 1px var(--color-dark-brown);
    line-height: 1;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat-messages li {
    margin-bottom: 1em;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    min-width: 60%;
}

.user-question {
    align-self: flex-start;
    background-color: var(--color-light-mustard);
}

.chatbot-answer {
    align-self: flex-end;
    background-color: #fff;
}

p {
    margin: 0;
}

/* Message input form --------------------------------------------- */

input[type="text"] {
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0.5em;
    width: 100%;
}

button {
    background-color: var(--color-dark-brown);
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: var(--color-beige);
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 20px;
}

.help-text {
    font-size: 0.9em;
    margin-left: 1em;
    color: #aaa;
    float: right;
    margin-top: 10px;
}
